.ant-layout-sider {
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}

.ant-layout-sider + .ant-layout{
  margin-left: 300px !important;
}

.ant-menu-item-only-child {
  padding-left: 24px !important;
  text-align: right;
}
